*
!*/
!/.gitignore
!/AGENTS.md
!/CHANGELOG.adoc
!/LICENSE
!/README.adoc
!/VERSION
!/dub.sdl
!/dub.selections.json
!/studio.sdl
!/assets/
!/assets/**
!/.devcentr/
!/.devcentr/**
!/.github/
!/.github/**
!/changelog-details/
!/changelog-details/**
!/docs/
!/docs/**
!/packaging/
!/packaging/**
!/source/
!/source/**
!/tests/
!/tests/**
!/examples/
!/examples/**
# Re-exclude generated and local state after opening directories.
**/.dub/
**/build/
**/bin/
**/*.exe
**/*.lib
**/*.obj
**/*.pdb
**/*.ilk
**/*.log
**/*.tmp
**/*.user.sdl
